.joke {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #fcf698;

  &-section {
    display: flex;
  }

  .left {
    margin-right: 20px;

    img {
      max-height: 200px;
    }
  }

  .right {
    img {
      max-height: 200px;
    }
  }

  .joke-line{
    max-width: 420px;
    background-color: white;
    padding: 6px 10px;
    border-radius: 8px;
    position: relative;

    &::before{
      // content: 'Sour Patch Kids';
      content: '';
      background-color: red;
      height: 20px;
      width: 20px;
      position: absolute;
      bottom: -10px;
      // clip-path: polygon(100% 100%, 0% 50%, 100% 100%);
      clip-path: polygon(50% 100%, 100% 50%, 0 50%);
    }
  }
  
  .btn {
    border: none;
    background-color: #b3b3fd;
  }
}
